/*font info*/ 
$fontFamily: 'Nunito Sans', sans-serif;
$baseFontWeight: 400;
$boldWeight: 800;
$baseFontSize: 18px;
$headlineFontSize: 48px;

/*Colors*/
$mainColor: #fff;
$textColor: #79706E;
$accentColor: #fb7852;

$gutter: 2%;

